In [1]:
import pandas as pd  
import numpy as np  
from sklearn.svm import SVC  
from sklearn.metrics import classification_report, confusion_matrix  
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
iris = pd.read_csv('C:/Users/HILCPS/Downloads/Project_IITM/TrainingData.csv')

iris['mvar1'] = iris['mvar1'].fillna(iris['mvar1'].mean())
iris['mvar2'] = iris['mvar2'].fillna(iris['mvar2'].mean())
iris['mvar3'] = iris['mvar3'].fillna(iris['mvar3'].mean())
iris['mvar4'] = iris['mvar4'].fillna(iris['mvar4'].mean())
iris['mvar5'] = iris['mvar5'].fillna(iris['mvar5'].mean())
iris['mvar6'] = iris['mvar6'].fillna(iris['mvar6'].mean())
iris['mvar7'] = iris['mvar7'].fillna(iris['mvar7'].mean())
iris['mvar8'] = iris['mvar8'].fillna(iris['mvar8'].mean())
iris['mvar9'] = iris['mvar9'].fillna(iris['mvar9'].mean())
iris['mvar10'] = iris['mvar10'].fillna(iris['mvar10'].mean())
iris['mvar11'] = iris['mvar11'].fillna(iris['mvar11'].mean())
iris['mvar12'] = iris['mvar12'].fillna(iris['mvar12'].mean())
iris['mvar13'] = iris['mvar13'].fillna(iris['mvar13'].mean())
iris['mvar14'] = iris['mvar14'].fillna(iris['mvar14'].mean())
iris['mvar15'] = iris['mvar15'].fillna(iris['mvar15'].mean())
iris['mvar16'] = iris['mvar16'].fillna(iris['mvar16'].mean())
iris['mvar17'] = iris['mvar17'].fillna(iris['mvar17'].mean())
iris['mvar18'] = iris['mvar18'].fillna(iris['mvar18'].mean())
iris['mvar19'] = iris['mvar19'].fillna(iris['mvar19'].mean())
iris['mvar20'] = iris['mvar20'].fillna(iris['mvar20'].mean())
iris['mvar21'] = iris['mvar21'].fillna(iris['mvar21'].mean())
iris['mvar22'] = iris['mvar22'].fillna(iris['mvar22'].mean())
iris['mvar23'] = iris['mvar23'].fillna(iris['mvar23'].mean())
iris['mvar24'] = iris['mvar24'].fillna(iris['mvar24'].mean())
iris['mvar25'] = iris['mvar25'].fillna(iris['mvar25'].mean())
iris['mvar26'] = iris['mvar26'].fillna(iris['mvar26'].mean())
iris['mvar27'] = iris['mvar27'].fillna(iris['mvar27'].mean())
iris['mvar28'] = iris['mvar28'].fillna(iris['mvar28'].mean())
iris['mvar29'] = iris['mvar29'].fillna(iris['mvar29'].mean())
iris['mvar30'] = iris['mvar30'].fillna(iris['mvar30'].mean())
iris['mvar31'] = iris['mvar31'].fillna(iris['mvar31'].mean())
iris['mvar32'] = iris['mvar32'].fillna(iris['mvar32'].mean())
iris['mvar33'] = iris['mvar33'].fillna(iris['mvar33'].mean())
iris['mvar34'] = iris['mvar34'].fillna(iris['mvar34'].mean())
iris['mvar35'] = iris['mvar35'].fillna(iris['mvar35'].mean())
iris['mvar36'] = iris['mvar36'].fillna(iris['mvar36'].mean())
iris['mvar37'] = iris['mvar37'].fillna(iris['mvar37'].mean())
iris['mvar38'] = iris['mvar38'].fillna(iris['mvar38'].mean())
iris['mvar39'] = iris['mvar39'].fillna(iris['mvar39'].mean())
iris['mvar40'] = iris['mvar40'].fillna(iris['mvar40'].mean())
iris['mvar41'] = iris['mvar41'].fillna(iris['mvar41'].mean())
iris['mvar42'] = iris['mvar42'].fillna(iris['mvar42'].mean())
iris['mvar43'] = iris['mvar43'].fillna(iris['mvar43'].mean())
iris['mvar44'] = iris['mvar44'].fillna(iris['mvar44'].mean())
iris['mvar45'] = iris['mvar45'].fillna(iris['mvar45'].mean())
iris['mvar46'] = iris['mvar46'].fillna(iris['mvar46'].mean())
iris['mvar47'] = iris['mvar47'].fillna(iris['mvar47'].mean())
iris['mvar48'] = iris['mvar48'].fillna(iris['mvar48'].mean())
iris['mvar49'] = iris['mvar49'].fillna(iris['mvar49'].mean())
iris['mvar50'] = iris['mvar50'].fillna(iris['mvar50'].mean())
iris['mvar51'] = iris['mvar51'].fillna(iris['mvar51'].mean())
iris

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar43,mvar44,mvar45,mvar46,mvar47,mvar48,mvar49,mvar50,mvar51,default_ind
0,230032,1696.0,1.654100,0.000,0.0,0.0,0.00000,6015.0,322.000000,40369.000000,...,10.0,0.63899,0.070523,0.000000,1,10,770,4.0,3080.0,0
1,230033,1846.0,0.809500,0.000,0.0,0.0,102.00000,7532.0,3171.000000,18234.000000,...,13.0,0.63836,0.070523,0.093187,0,732,437,5.0,2185.0,1
2,230034,1745.0,0.400100,0.000,0.0,0.0,1633.42928,2536.0,6822.332227,34030.596329,...,1.0,1.00000,0.070523,0.000000,1,89,795,4.0,3180.0,1
3,230035,1739.0,0.219300,0.000,0.0,0.0,1982.00000,26440.0,4955.000000,20316.000000,...,3.0,0.53241,0.000000,0.000000,0,3,755,4.0,3020.0,0
4,230036,1787.0,0.011800,0.225,0.0,0.0,5451.00000,5494.0,5494.000000,7987.000000,...,1.0,0.92665,0.070523,0.093187,0,5,425,4.0,1700.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,578064,1748.0,0.304400,0.000,0.0,0.0,0.00000,20114.0,5574.000000,77386.000000,...,13.0,0.48002,0.000000,0.000000,0,13,678,4.0,2712.0,0
82996,578065,1846.0,1.054816,0.000,0.0,0.0,793.00000,18608.0,18608.000000,63820.000000,...,5.0,0.46925,0.070523,0.000000,0,24,759,5.0,3795.0,0
82997,578066,1907.0,0.038100,0.000,0.0,0.0,2478.00000,24775.0,24775.000000,100294.000000,...,19.0,0.67960,0.070523,0.000000,0,3,724,5.0,3620.0,0
82998,578067,1744.0,1.830100,0.000,0.0,0.0,496.00000,917.0,496.000000,116164.000000,...,3.0,0.45317,0.070523,0.000000,0,19,631,4.0,2524.0,0
82999,578068,1832.0,1.556100,0.000,0.0,0.0,1016.00000,7928.0,7928.000000,132208.000000,...,18.0,0.83278,0.000000,0.000000,0,2,792,5.0,3960.0,0

In [3]:
iris.head()
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83000 entries, 0 to 82999
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   application_key  83000 non-null  int64
 1   mvar1            83000 non-null  float64
 2   mvar2            83000 non-null  float64
 3   mvar3            83000 non-null  float64
 4   mvar4            83000 non-null  float64
 5   mvar5            83000 non-null  float64
 6   mvar6            83000 non-null  float64
 7   mvar7            83000 non-null  float64
 8   mvar8            83000 non-null  float64
 9   mvar9            83000 non-null  float64
 10  mvar10           83000 non-null  float64
 11  mvar11           83000 non-null  float64
 12  mvar12           83000 non-null  float64
 13  mvar13           83000 non-null  float64
 14  mvar14           83000 non-null  int64
 15  mvar15           83000 non-null  float64
 16  mvar16           83000 non-null  float64
 17  mvar17           83000 non-null  float64
 18  mvar18           83000 non-null  float64
 19  mvar19           83000 non-null  float64
 20  mvar20           83000 non-null  float64
 21  mvar21           83000 non-null  float64
 22  mvar22           83000 non-null  float64
 23  mvar23           83000 non-null  float64
 24  mvar24           83000 non-null  float64
 25  mvar25           83000 non-null  float64
 26  mvar26           83000 non-null  float64
 27  mvar27           83000 non-null  float64
 28  mvar28           83000 non-null  float64
 29  mvar29           83000 non-null  float64
 30  mvar30           83000 non-null  float64
 31  mvar31           83000 non-null  float64
 32  mvar32           83000 non-null  float64
 33  mvar33           83000 non-null  float64
 34  mvar34           83000 non-null  float64
 35  mvar35           83000 non-null  float64
 36  mvar36           83000 non-null  float64
 37  mvar37           83000 non-null  float64
 38  mvar38           83000 non-null  float64
 39  mvar39           83000 non-null  float64
 40  mvar40           83000 non-null  float64
 41  mvar41           83000 non-null  float64
 42  mvar42           83000 non-null  float64
 43  mvar43           83000 non-null  float64
 44  mvar44           83000 non-null  float64
 45  mvar45           83000 non-null  float64
 46  mvar46           83000 non-null  float64
 47  mvar47           83000 non-null  int64
 48  mvar48           83000 non-null  int64
 49  mvar49           83000 non-null  int64
 50  mvar50           83000 non-null  float64
 51  mvar51           83000 non-null  float64
 52  default_ind      83000 non-null  int64
dtypes: float64(47), int64(6)
memory usage: 33.6 MB

In [4]:
from sklearn.model_selection import train_test_split
X = iris.drop('default_ind', axis=1)  
y = iris['default_ind']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [5]:
kernels = ['Polynomial', 'RBF', 'Sigmoid','Linear']#A function which returns the corresponding SVC model
def getClassifier(ktype):
    if ktype == 0:
        # Polynomial kernal
        return SVC(kernel='poly', degree=8, gamma="auto")
    elif ktype == 1:
        # Radial Basis Function kernal
        return SVC(kernel='rbf', gamma="auto")
    elif ktype == 2:
        # Sigmoid kernal
        return SVC(kernel='sigmoid', gamma="auto")
    elif ktype == 3:
        # Linear kernal
        return SVC(kernel='linear', gamma="auto")

In [ ]:
for i in range(4):
    # Separate data into test and training sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)# Train a SVC model using different kernal
    svclassifier = getClassifier(i) 
    svclassifier.fit(X_train, y_train)# Make prediction
    y_pred = svclassifier.predict(X_test)# Evaluate our model
    print("Evaluation:", kernels[i], "kernel")
    print(classification_report(y_test,y_pred))

Evaluation: Polynomial kernel
              precision    recall  f1-score   support

           0       0.00      0.00      0.00     11803
           1       0.29      1.00      0.45      4797

    accuracy                           0.29     16600
   macro avg       0.14      0.50      0.22     16600
weighted avg       0.08      0.29      0.13     16600

C:\Users\HILCPS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HILCPS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HILCPS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}

In [ ]:
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2)
grid.fit(X_train,y_train)

In [ ]:
print(grid.best_estimator_)

In [ ]:
grid_predictions = grid.predict(X_test)
print(confusion_matrix(y_test,grid_predictions))
print(classification_report(y_test,grid_predictions))